numpy
pandas
scikit-learn
scipy
tqdm
spacy
sklearn-crfsuite
seqeval
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchtext==0.18.0  
TorchCRF
pytorch-crf
gensim
tabulate
black
wget
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl